body {
  
  background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 630px 610px;
}

.card {
  min-width: 30%;
  width: 30%;
  height: 425px;
  margin: 17% auto;
  border-radius: 11px;
  position: relative;
}

.card-image {
  background-image: url("images/bg-pattern-card.svg");
  height: 180px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.card-info {
  background-color: white;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  justify-content: center;
}

.details {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.social-media-info {
  border-top: 1px solid gray;
  display: flex;
  justify-content: space-around;
  height: 94px;
  align-items: center;
  flex-wrap: nowrap;
}

.profile-image {
  border-radius: 50px;
  border: 3px solid white;
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0;
  bottom: 95px;
  right: 0;
}